Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.fornkulturochform.com$ [NC]
RewriteRule ^(.*)$ http://fornkulturochform.com/awstats/$1 [R=301,L]
